/*          Geral
******************************/
@font-face {
    font-family: questrialFont;
    src: url("/Fonte/Questrial-Regular.ttf");
}
@font-face {
    font-family: blackCadu;
    src: url("/Fonte/Blackout.otf");
}
@font-face {
    font-family: CenturyGothic;
    src: url("/Fonte/GothicA1-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: questrialFont;
}

body {    
    width: 100%;
    height: 100%;    
    background: linear-gradient(#031C26, #008037);
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 70px;
    padding: 10px;

    background-color: #031C26;
    box-shadow: 0px 6px 60px black;

    align-items: center;
    flex-wrap: wrap;
    
    display: flex;
    justify-content: space-between;
}

.sectionCards{
    padding-left: 6%;
}

/*          menu
******************************/
.logo {
    width: 50px;
    height: 50px;
    border-radius: 25px;    
    background-color: transparent;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;    
}

.menu li a {
    transition: 1s;
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin: 15px;
    align-items: center;
    font-size: 15px;
}

.menu li a:hover {
    text-decoration: none;

    background-color: #2ead4e80;

    color: white;

    display: block;
    margin: 15px;
}

.menu li a:focus{
    background-color: white;
    font-weight: bold;
    color: #012209fb;
}

/*    Titulo certificados 
******************************/
section h1{    
    margin-top: 100px;
    margin-left: 150px;
    font-size: 60px;
    color: white;
    font-weight: normal;
}

/*          Certificados
******************************/
section .container{    
    position: relative;
    width: 250px;
    height: 150px;
   
    margin: 10px;

    display: inline-block;
    align-items: center;

    margin-top: 140px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 60px black;
    z-index: 1;
}

.container .poster{
    position: relative;
    
}

.container .poster::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10px;
    background: linear-gradient(0deg, #012912,#025526 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.container:hover .poster::before{
    bottom: -0px;
} 

.container .poster img{
    width: 100%;
    transition: 0.5s;
}

.container:hover .poster img{
    transform: translateY(-50px);
    filter: blur(5px);
}

.container .details{    
    position: absolute;
    bottom: -50%;    
    left: 0;
    padding: 5%;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    font-size: 10px;
}

.container:hover .details{
    bottom: 5px;
}

.container .details h3{
    padding-left: 5px;
    font-size: 14px;
    font-size: 15px;    
    color: #ffffff;
    font-weight: normal;
}

.container .details .tags{
    position: relative;
    margin: 5px;    
}

.container .details .tags span{
    padding: 2px 5px;
    background-color: #008037;    
    font-size: 10px;    
    color: white;    
}

.container .details .infoCard{
    color: white;
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
}

.container .details .cast{
    position: relative;
}

.container .details .cast h4{
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}

.container .details .cast ul{
    position: relative;
    display: flex;
    margin-top: 10px;
}

.container .details .cast ul li{
    list-style: none;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid white;    
}

.container .details .cast a{
    height: 30px;
    width: 50%;
    
    position: relative;
    display: inline-block;
    overflow: hidden;
    
    margin-left: 10px;
    margin-top: 3px;
    padding: 8px;
    border-width: 0px;
    border-radius: 10px;
    text-align: center;

    font-size: 12px;    
    text-decoration:none ;
    
    background-color: #00803700;
    color: white;

    transition: 0.5s;
}

.container .details .cast a:hover{
    background-color: #031C26;    
    box-shadow: 0px 0px 30px rgb(189, 184, 184);
    
}


.container .details .cast ul li img{
    width: 100%;
}

/*          Footer
******************************/
footer {
    
    width: 90%;
    margin: 5%;;

    height: 300px;
    box-shadow: 0px 6px 60px black;
    background-color: rgb(255, 255, 255);
    
    border-radius: 20px;
}